* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1A1D23;
  color: #D7D7D7;
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
